In [27]:
print("Hello world")

Hello world

Variables/Identifires : Placeholders where we keep variety of data which we can use to write logic.

In [28]:
a = 3

TYPE of opearator

In [29]:
print(type(a))
print(type("Mahuya"))
print(type(True))
print(type(23))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [30]:
# True/False Zero divison error

In [31]:
f = None
type(f)

NoneType

In [32]:
# Complex variables
x = 4+6j
type(x)

complex

In [33]:
print(x.real, x.imag)

4.0 6.0

In [34]:
# a@v = 6

Comments

In [35]:
# sinle line comment
'''
Multi line comments
'''

'\nMulti line comments\n'

# STRING

In [36]:
string = "Mahuya Ghosh"

In [37]:
string[0]

'M'

In [38]:
string[-1]

'h'

In [39]:
# Mutability --> We can not modify string;
string[0] = "T"

TypeError: 'str' object does not support item assignment

# LIST

In [17]:
lst = ["Mahuya", 1, 2, 5 + 7j, True]
lst

['Mahuya', 1, 2, (5+7j), True]

In [18]:
type(lst)

list

In [19]:
lst[-1]

True

In [26]:
# Mutability --> We can change it after creating once in other word we can edit those things
lst[0] = "Jay"
lst

['Jay', 1, 2, (5+7j), True]

In [27]:
not 1

False

### Shift Operator
-   Left shift (<<) ---> it will multiply the digit by 2 on shifting 1
        <p> 35<<1 = 70
-   Right Shift (>>) ---> it will divide the digit by 2 on shifting 1
        <p> 35>>1 = 17

In [34]:
print("Right Shift :", 35 >> 1)
print("Left Shift :",  35 << 1)

Right Shift : 17
Left Shift : 70

# Conditional Operator

## Conditional Statements 
    -   if
    -   if-else
    -   if-elif-else
    -   nested if-else
## Loop Statements 
    -   for
    -   while
## Control Statements 
    -   break
    -   continue

#### Conditional Statement

In [37]:
# if
a = 34
if a > 0:
    print("Positive number")

Positive number

In [41]:
# if-else
x = input("Enter a Number")
x = int(x)
if x%2 == 0 :
    print("Number is even")
else:
    print("Number is odd")

Number is even

In [40]:
# if-elif-else
score = 80
if score >= 80:
    print("A")
elif score >= 60:
    print("B")
else:
    print("C")

A

# Type casting

In [2]:
a = 5
type(a)

int

<p>
By <b>type()</b> we know what is the datatype of a varibale
</p>

In [4]:
name = "Mritunjay"
type(name)

str

Now let's see <b>typecasting</b> or changing of datatype

In [1]:
int("23")+23

46

In [3]:
a = "5"
b = 6
int(a)+b

11

In [6]:
a = 3.56
print(type(a))
a = int(a)
print(type(a))

<class 'float'>
<class 'int'>

In [10]:
# Implicit typecasting: When programming language automatically change a variable's datatype according to program need it is implicit typecasting.
# Explicit typecasting: If user has to convert datatype explcitly then it is explicit typecasting.

#Implicit typecasting
a = 5
b = a/1.0
b

5.0

# Loops

In [1]:
#while loop
n = 7
i = 1
while(i<n) :
    print(i)
    i+=1

1
2
3
4
5
6

In [3]:
# while-else
count = 5
while(count > 0):
    print(count)
    count -= 1
else:
    print("While runs successfull")

5
4
3
2
1
While runs successfull

In [4]:
# Break terminates or exits the loop
count = 5
while(count > 0):
    print(count)
    if count == 2:
        break
    count -= 1

5
4
3
2

In [7]:
# Continue will skip that particular iteration
count = 5
while(count > 0):
    if count == 2:
        count -= 1
        continue
    else:
        print(count)
        count -= 1

5
4
3
1

In [11]:
#for loop is used to run a loop sequentially
for i in "Mritunjay":
    print(i)

M
r
i
t
u
n
j
a
y

In [17]:
l = ["Mritunjay",1,2,3,"Aman"]
for i in l:
    print(i)

Mritunjay
1
2
3
Aman

In [22]:
#for-else
s = "Mritunjay"
for i in s:
    print(i)
else:
    print("for loop run without a break statement")

M
r
i
t
u
n
j
a
y
for loop run without a break statement

In [23]:
#for-break
s = "Mritunjay"
for i in s:
    print(i)
    if(i=="n"):
        break
else:
    print("for loop run without a break statement")

M
r
i
t
u
n