# DICTONARY

- It is a data structure who stores data in key value pair
- Keys are unique and immutable
- Dictonaries are unordered. But from python 3.7 version, dictonaries retains the order of insertion.
- Means you iterate over a dictonary, the items will be returnned in the order they were added.

In [1]:
# syntax 
# dicty = {}

d = {}
type(d)

dict

In [5]:
d = {
    # key : value
    "name": "Mritunjay",
    "email": "mritunjayaman20222@gmail.com",
    "contact_details": 12345,
}
d

{'name': 'Mritunjay',
 'email': 'mritunjayaman20222@gmail.com',
 'contact_details': 12345}

In [6]:
d["name"]

'Mritunjay'

In [7]:
d["email"]

'mritunjayaman20222@gmail.com'

In [9]:
d["name"] = "mj@gmail.com"
d

{'name': 'mj@gmail.com',
 'email': 'mritunjayaman20222@gmail.com',
 'contact_details': 12345}

In [13]:
dic = {
    "name" : "Mritunjay",
    "roll" : 10
}
dic[10] #we can noly access value using key vice versa is not possible

KeyError: 10

In [16]:
# rules of defining key
d = {
    1: "Ayushi",
    1.1: "Sankalp",
    True:"Shovini",
    # @ : "Shreyansh" //---> invalid syntax
}

In [19]:
d = {
    [1,2,3]:45
} 
# list cannot be a key

TypeError: unhashable type: 'list'

In [21]:
d = {
    (1,2,3):45
} 
# tuple can be a key

In [23]:
d = {
    {12:23}
}
# dictonary cannot be a key

TypeError: unhashable type: 'dict'

### Only string, number and tuples can be key

In [29]:
d = {
    "name" :"Mritunjay",
    "roll-no":10,
    "course":"B.tech",
    "stream":"CSE-AIML",   
    "name" :"Mahuya"
}
#  always the last key-value pair will be used as it is updated in dictonary
d

{'name': 'Mahuya', 'roll-no': 10, 'course': 'B.tech', 'stream': 'CSE-AIML'}

In [31]:
d["name"] = "Mritunjay"
d

{'name': 'Mritunjay', 'roll-no': 10, 'course': 'B.tech', 'stream': 'CSE-AIML'}

In [44]:
# value can be a list, tuple
d = {
    "name" :["Mritunjay", "Mahuya", "Rishabh"],
    "roll-no":(10, 1, 15),
    "course":"B.tech",
    "stream":{"CSE-AIML", "CSE"},   
    "name" :"Mahuya"
}
d

{'name': 'Mahuya',
 'roll-no': (10, 1, 15),
 'course': 'B.tech',
 'stream': {'CSE', 'CSE-AIML'}}

In [35]:
d["name"][1]

'a'

In [40]:
# ading key-value into dictonary
d["address"]="MB-379, Mahishbathan"

In [37]:
d

{'name': 'Mahuya',
 'roll-no': (10, 1, 15),
 'course': 'B.tech',
 'stream': {'CSE', 'CSE-AIML'},
 'address': 'MB-379, Mahishbathan'}

In [41]:
#delete key value pair 
del d["address"]
d

{'name': 'Mahuya',
 'roll-no': (10, 1, 15),
 'course': 'B.tech',
 'stream': {'CSE', 'CSE-AIML'}}

In [45]:
# deleted the whole dictonary
del d
d

NameError: name 'd' is not defined

In [46]:
d = {
    "name" :"Mritunjay",
    "roll-no":10,
    "course":"B.tech",
    "stream":"CSE-AIML"
}

In [49]:
# We want to clear it / empty dictonary
d.clear()
d

{}

In [50]:
d = {
    "name" :"Mritunjay",
    "roll-no":10,
    "course":"B.tech",
    "stream":"CSE-AIML"
}
len(d)

4

In [53]:
print(d.keys())
print(d.values())

dict_keys(['name', 'roll-no', 'course', 'stream'])
dict_values(['Mritunjay', 10, 'B.tech', 'CSE-AIML'])

In [55]:
d1 = d.copy()
d1

{'name': 'Mritunjay', 'roll-no': 10, 'course': 'B.tech', 'stream': 'CSE-AIML'}

In [56]:
d.pop("stream")

'CSE-AIML'

In [58]:
# Update everything in d from d1
d1 = {
    "stream":"CSE-AIML"
}
d1

{'stream': 'CSE-AIML'}

In [60]:
d.update(d1)
d

{'name': 'Mritunjay', 'roll-no': 10, 'course': 'B.tech', 'stream': 'CSE-AIML'}

In [61]:
# when we want to access values from key we can do it by "get" function too
d.get("stream")

'CSE-AIML'

In [62]:
d["course"]

'B.tech'

In [65]:
# from keys : It will create a dictonary from any iterables
d.fromkeys((1,2,3), ["a", "b", "c"])

{1: ['a', 'b', 'c'], 2: ['a', 'b', 'c'], 3: ['a', 'b', 'c']}

In [67]:
# Zip function >> we want Mritunjay hs marks 80 and rishabh has 83 marks and like this
student = ["Mritunjay", "Rishabh", "Paridhi"]
marks = [79, 83, 92]

for i in zip(student, marks):
    print(i)

('Mritunjay', 79)
('Rishabh', 83)
('Paridhi', 92)

In [68]:
# store above info in key value pair>> dictonary
students = ["Mritunjay", "Rishabh", "Paridhi"]
marks = [79, 83, 92]
student_marks={}
for student, mark in zip(student, marks):
    student_marks[student] = mark
student_marks

{'Mritunjay': 79, 'Rishabh': 83, 'Paridhi': 92}

### Dictonary Comprehension

In [72]:
# doing same thing using dictonary comprehension
students = ["Mritunjay", "Rishabh", "Paridhi"]
marks = [79, 83, 92]

{student:mark for student, mark in zip(students, marks)}

{'Mritunjay': 79, 'Rishabh': 83, 'Paridhi': 92}

In [73]:
# use case

user_id = [1,2,3]
user_name = ["a21", "a22", "a23"]
{id:name for id, name in zip(user_id, user_name)}

{1: 'a21', 2: 'a22', 3: 'a23'}

In [76]:
menu = {
    "Starters": {
        "Spring Rolls": 150,
        "Garlic Bread": 100,
        "Paneer Tikka": 200
    },
    "Main Course": {
        "Veg Biryani": 250,
        "Butter Chicken": 300,
        "Dal Tadka": 150
    },
    "Desserts": {
        "Gulab Jamun": 120,
        "Chocolate Cake": 180
    },
    "Drinks": {
        "Coke": 50,
        "Lemonade": 60,
        "Coffee": 80
    }
}

In [78]:
menu.items()

dict_items([('Starters', {'Spring Rolls': 150, 'Garlic Bread': 100, 'Paneer Tikka': 200}), ('Main Course', {'Veg Biryani': 250, 'Butter Chicken': 300, 'Dal Tadka': 150}), ('Desserts', {'Gulab Jamun': 120, 'Chocolate Cake': 180}), ('Drinks', {'Coke': 50, 'Lemonade': 60, 'Coffee': 80})])

In [79]:
for key, value in menu.items():
    print(f"{key} : {value}")

Starters : {'Spring Rolls': 150, 'Garlic Bread': 100, 'Paneer Tikka': 200}
Main Course : {'Veg Biryani': 250, 'Butter Chicken': 300, 'Dal Tadka': 150}
Desserts : {'Gulab Jamun': 120, 'Chocolate Cake': 180}
Drinks : {'Coke': 50, 'Lemonade': 60, 'Coffee': 80}

In [80]:
# want to iterate only keys
for key in menu.keys():
    print(key)

Starters
Main Course
Desserts
Drinks

In [82]:
# want to iterate only values
for value in menu.values():
    print(value)

{'Spring Rolls': 150, 'Garlic Bread': 100, 'Paneer Tikka': 200}
{'Veg Biryani': 250, 'Butter Chicken': 300, 'Dal Tadka': 150}
{'Gulab Jamun': 120, 'Chocolate Cake': 180}
{'Coke': 50, 'Lemonade': 60, 'Coffee': 80}