# List

In [1]:
lst = []
type(lst)

list

In [2]:
grocery_list = ["potato", "brinjle", "orange", "milk"]
type(grocery_list)

list

In [5]:
# list are mutable
lst = ["asm", 1, 2, 3, 4, 5]

In [6]:
lst[2] = "Mritunjay"
lst

['asm', 1, 'Mritunjay', 3, 4, 5]

In [7]:

lst[1:4:2]

[1, 3]

In [1]:
movies = ["singham", "hera pheri", "Phir hera pheri", "Kali"]
movies[0][0:5]

'singh'

In [2]:
movies.append("Joker")
movies

['singham', 'hera pheri', 'Phir hera pheri', 'Kali', 'Joker']

In [6]:
movies.insert(2, "jadugar") # Insert object before index.

In [7]:
movies

['jadugar',
 'singham',
 'jadugar',
 'hera pheri',
 'Phir hera pheri',
 'Kali',
 'Joker']

In [11]:
# extend -> append elements from another list
my_list = ["Joker", "Iron Man", "spider man", "Thor"]
her_list = ["DDLJ", "KKKG"]
my_list.extend(her_list)

In [12]:
my_list

['Joker', 'Iron Man', 'spider man', 'Thor', 'DDLJ', 'KKKG']

In [13]:
# repeatation operation
"*"*4

'****'

In [14]:
[2]*12

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# membership in, not in
my_list = ["Joker", "Iron Man", "spider man", "Thor"]
"Thor" in my_list

True

In [18]:
"DDLJ" not in my_list

True

In [20]:
# DEEP COPY & SHALLOW COPY
# Shallow copy :-> value will change with change in other list
# Deep cop ;-> value will not changed when changing other list
# is operator finds if two variables are pointing to same thing
# == opeartor finds the equality
lst1 = ["DDLJ", "Bagban", "Ramayan"]
lst2 = lst1
lst2 is lst1

True

In [23]:
lst2[1] = "Thor"
lst2

['DDLJ', 'Thor', 'Ramayan']

In [25]:
lst1
#It also changed so it is shallow copy

['DDLJ', 'Thor', 'Ramayan']

In [26]:
# how to do Deep copy
lst2 = lst1.copy()
lst2

['DDLJ', 'Thor', 'Ramayan']

In [29]:
lst2[0] = "KKKH"
lst2

['KKKH', 'Thor', 'Ramayan']

In [28]:
lst1

['DDLJ', 'Thor', 'Ramayan']

In [39]:
book_list = ["Atomic Habit", "TMWSF", "TLAM", "TMWSF"]
sorted(book_list)

['Atomic Habit', 'TLAM', 'TMWSF', 'TMWSF']

In [40]:
book_list.index("TMWSF")

1

In [42]:
book_list.count("TMWSF") #count of a specific element in list

2

In [44]:
book_list.remove("TMWSF")
book_list

['Atomic Habit', 'TLAM']

In [45]:
del book_list

In [46]:
book_list

NameError: name 'book_list' is not defined

In [47]:
movie = ["DDLJ", "Bagban", "Ramayan"]
movie.clear()
movie

[]

In [48]:
movie = ["DDLJ", "Bagban", "Ramayan"]
movie.pop()

'Ramayan'

In [2]:
movie = ["DDLJ", "Bagban", "Ramayan"]
movie.pop(2) # give index
movie

['DDLJ', 'Bagban']

### list comprehension

In [6]:
# Best practice we should follow
prices = [10, 20, 30, 40, 50]
double_price = []
for i in prices:
    double_price.append(2*i)
double_price

[20, 40, 60, 80, 100]

In [7]:
[price*2 for price in prices]

[20, 40, 60, 80, 100]

In [8]:
names = ["Mritunjay", "Paridhi", "Mahuya", "Aman", "sakshi"]
[name.upper() for name in names]

['MRITUNJAY', 'PARIDHI', 'MAHUYA', 'AMAN', 'SAKSHI']

In [9]:
nums = [1,2,3,4,5]
[num**2 for num in nums]

[1, 4, 9, 16, 25]

In [11]:
str1 = "file.txt"
str1.split(".")[-1]

'txt'

In [13]:
file_name = ["doc1.ppt", "doc2.xlx", "doc3.txt", "doc4.pdf", "doc6.jpg"]
extension = [file.split(".")[-1] for file in file_name]
extension

['ppt', 'xlx', 'txt', 'pdf', 'jpg']

In [17]:
# conditional list comprehension
email_address = ["aj@gmail.com", "mkt@yahoo.com", "rj@yahoo.com", "kumar.mritunjay@yahoo.com"]
[email for email in email_address if email.endswith("yahoo.com")]

['mkt@yahoo.com', 'rj@yahoo.com', 'kumar.mritunjay@yahoo.com']

In [19]:
# nested list comprehesion
pairs = []
for x in [1, 2, 3]:
    for y in [4, 5, 6]:
        pairs.append([x, y])
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [22]:
[[x,y] for x in [1,2,3] for y in [4,5,6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

### List as stack and queue

In [24]:
#stack: LIFO(last in first out)
plates = []
plates.append("plate1")
plates.append("plate2")
plates.append("plate3")
plates.append("plate4")
plates.append("plate5")

In [25]:
plates

['plate1', 'plate2', 'plate3', 'plate4', 'plate5']

In [26]:
plates.pop()

'plate5'

In [27]:
plates

['plate1', 'plate2', 'plate3', 'plate4']

In [28]:
# USE CASE
browsing_history = []
browsing_history.append("home_page")
browsing_history.append("instagram")
browsing_history.append("instagram/reel")
browsing_history.append("youtube")

In [29]:
browsing_history

['home_page', 'instagram', 'instagram/reel', 'youtube']

In [30]:
browsing_history.pop()

'youtube'

In [31]:
browsing_history

['home_page', 'instagram', 'instagram/reel']

In [32]:
# QUEUE (FIFO) First in first out
#It has 2 ends and it works in sequential manner

from collections import deque
#library is a collection of python code(module)
#collection is a library and deque is module

In [37]:
checkout = deque()
checkout.append("cust1")
checkout.append("cust2")
checkout.append("cust3")
checkout.append("cust4")
checkout

deque(['cust1', 'cust2', 'cust3', 'cust4'])

In [38]:
while checkout:
    customer = checkout.popleft()
    print("serving", customer)

serving cust1
serving cust2
serving cust3
serving cust4

In [2]:
from queue import Queue
print_queue = Queue()
print_queue.put("print the 1st pdf") #put is similar to push
print_queue.put("print the 2nd pdf")
print_queue.put("print the 3rd pdf")
print_queue.put("print the 4th pdf")

while not print_queue.empty():
    print_job = print_queue.get() #get is similar to pop
    print(print_job)

print the 1st pdf
print the 2nd pdf
print the 3rd pdf
print the 4th pdf