# List

In [1]:
lst = []
type(lst)

list

In [2]:
grocery_list = ["potato", "brinjle", "orange", "milk"]
type(grocery_list)

list

In [5]:
# list are mutable
lst = ["asm", 1, 2, 3, 4, 5]

In [6]:
lst[2] = "Mritunjay"
lst

['asm', 1, 'Mritunjay', 3, 4, 5]

In [7]:

lst[1:4:2]

[1, 3]

In [1]:
movies = ["singham", "hera pheri", "Phir hera pheri", "Kali"]
movies[0][0:5]

'singh'

In [2]:
movies.append("Joker")
movies

['singham', 'hera pheri', 'Phir hera pheri', 'Kali', 'Joker']

In [6]:
movies.insert(2, "jadugar") # Insert object before index.

In [7]:
movies

['jadugar',
 'singham',
 'jadugar',
 'hera pheri',
 'Phir hera pheri',
 'Kali',
 'Joker']

In [11]:
# extend -> append elements from another list
my_list = ["Joker", "Iron Man", "spider man", "Thor"]
her_list = ["DDLJ", "KKKG"]
my_list.extend(her_list)

In [12]:
my_list

['Joker', 'Iron Man', 'spider man', 'Thor', 'DDLJ', 'KKKG']

In [13]:
# repeatation operation
"*"*4

'****'

In [14]:
[2]*12

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# membership in, not in
my_list = ["Joker", "Iron Man", "spider man", "Thor"]
"Thor" in my_list

True

In [18]:
"DDLJ" not in my_list

True

In [20]:
# DEEP COPY & SHALLOW COPY
# Shallow copy :-> value will change with change in other list
# Deep cop ;-> value will not changed when changing other list
# is operator finds if two variables are pointing to same thing
# == opeartor finds the equality
lst1 = ["DDLJ", "Bagban", "Ramayan"]
lst2 = lst1
lst2 is lst1

True

In [23]:
lst2[1] = "Thor"
lst2

['DDLJ', 'Thor', 'Ramayan']

In [25]:
lst1
#It also changed so it is shallow copy

['DDLJ', 'Thor', 'Ramayan']

In [26]:
# how to do Deep copy
lst2 = lst1.copy()
lst2

['DDLJ', 'Thor', 'Ramayan']

In [29]:
lst2[0] = "KKKH"
lst2

['KKKH', 'Thor', 'Ramayan']

In [28]:
lst1

['DDLJ', 'Thor', 'Ramayan']

In [39]:
book_list = ["Atomic Habit", "TMWSF", "TLAM", "TMWSF"]
sorted(book_list)

['Atomic Habit', 'TLAM', 'TMWSF', 'TMWSF']

In [40]:
book_list.index("TMWSF")

1

In [42]:
book_list.count("TMWSF") #count of a specific element in list

2

In [44]:
book_list.remove("TMWSF")
book_list

['Atomic Habit', 'TLAM']

In [45]:
del book_list

In [46]:
book_list

NameError: name 'book_list' is not defined

In [47]:
movie = ["DDLJ", "Bagban", "Ramayan"]
movie.clear()
movie

[]

In [48]:
movie = ["DDLJ", "Bagban", "Ramayan"]
movie.pop()

'Ramayan'

In [50]:
movie = ["DDLJ", "Bagban", "Ramayan"]
movie.pop(1)
movie

['DDLJ', 'Ramayan']

### list comprehension