# Strings

A **string** is a sequence of characters used to represent textual data in programming. Internally, computers store these characters as numerical values using encoding schemes like **ASCII** (7 bits) and **UNICODE** (16 bits). Modern encoding schemes, such as **UTF-8** and **UTF-16**, are widely used to support a vast range of characters from various languages and symbols.

In [1]:
s = "Mritunjay"
s

'Mritunjay'

In [5]:
#ASCII representation -> What is numerical order of character
char = 'A'
print(ord(char))
print(chr(65))
# chr -> what is corresponding characyter of the number

65
A

In [6]:
chr(97)

'a'

In [7]:
#UNICODE representation
'\u03A9'

'Ω'

In [8]:
'\u03A3'

'Σ'

In [9]:
'\u0974'

'ॴ'

In [10]:
st = "Mritunjay"
type(st)

str

In [17]:
st = "Mritunjay is a 'good' coder"
st = 'Mritunjay is a "coder"'
st = """Mritunjay has a good level of coding skills
and he knows how to interact with anyone """
st

'Mritunjay has a good level of coding skills\nand he knows how to interact with anyone '

In [19]:
# concatenation of 2 strings
"Mritunjay" + " Kumar"

'Mritunjay Kumar'

In [23]:
st1 = "Mritunjay"
st2 = "Kumar"
st1+" "+st2

'Mritunjay Kumar'

## slicing

In [35]:
# Extraction/slicing of a string
# syntax = string[start:stop:step]
# stop point will be excluded
s = "she loves nature"
print(s[0:]) #it will give whole string
print(s[0:4])

she loves nature
she

In [40]:
s[4:9]

'loves'

In [41]:
s[:4:]

'she '

In [37]:
# steps
n = len(s)
print(s[0:n:1])

she loves nature

In [43]:
#reversing the string 
#start from end and move to beginneing
s[::-1]

'erutan sevol ehs'

In [45]:
# no of character
len(s)

16

In [46]:
# modification of string
s = "Mritunjay"
s.replace("Mr", "Am")

'Amitunjay'

In [49]:
text = "BRBR, TTYL, LOL"
text.replace("BR", "Hello ").replace("LOL", "Laughing out loud")

'Hello Hello , TTYL, Laughing out loud'

In [51]:
text = "Hello World"
text.lower()

'hello world'

In [55]:
text = "MRitunjaY Kumar"
text.upper()

'MRITUNJAY KUMAR'

In [56]:
text.title()

'Mritunjay Kumar'

In [57]:
text.swapcase()

'mrITUNJAy kUMAR'

In [61]:
text = "I am a student"
text.capitalize()

'I am a student'

In [62]:
#String searching
sentence = "I am an employee at Capgemini"
"an" in sentence

True

In [64]:
"c" in "Indiac"

True

In [65]:
# string comparision
str1 = "Mritunjay"
str2 = "Mritunjay"
str1 == str2

True

In [66]:
str1 = "Hello"
str2 = "hello"

str1.lower() == str2.lower()

True

In [68]:
#sorting
lst = ["Aman", "Virat", "Rohit", "Mahuya"]
lst.sort()
lst

['Aman', 'Mahuya', 'Rohit', 'Virat']

In [73]:
#common string operation
str1 = "          Hello     World    "
str1.strip(" ") # strip cannot remove space/character in between of words
#it will remove only from beginning and end

'Hello     World'

In [78]:
#string splitting
str1 = "Mritunjay is a senior analyst, at Capgemini"
str1.split(" ")

['Mritunjay', 'is', 'a', 'senior', 'analyst,', 'at', 'Capgemini']

In [81]:
#carriage return \r >>Moves the cursor to beginning of the line
print("Hello, I am Mritunjay, I am working as a senior analyst at capgemini")
print("Hello, I am \rMritunjay, I am working as a senior analyst at capgemini")

Hello, I am Mritunjay, I am working as a senior analyst at capgemini
Mritunjay, I am working as a senior analyst at capgemini

### String Formatting

In [83]:
# f-string
name = "Mritunjay"
print(f"My name is {name}")

My name is Mritunjay

In [88]:
# string formatting
name = "pwskill"
print("I am reading at %s"%name)

I am reading at pwskill

In [87]:
#.format
template = "Hello, {} Welcome to {}"
message = template.format("Mritunjay", "Bangluru")
message

'Hello, Mritunjay Welcome to Bangluru'

In [89]:
celsius = 45
f"{celsius} is equeal to {(celsius*9/5)+32}F"

'45 is equeal to 113.0F'

In [90]:
str1 = "Mritunjay hii, How are you?"
str1.startswith("Mritunjay")

True

In [91]:
if str1.endswith("?"):
    print(f"{str1} is a question")

Mritunjay hii, How are you? is a question

In [93]:
a="kumarmritunjay"
a.isalnum()

True