# TUPLES

In [3]:
# syntax ;>> t = ()
#an ordered and immutable data structure
# In tuples Indexing is same as list
t = ()
type(t)

tuple

In [2]:
t = ("pwskill", "Mritunjay", 2+3j, 4.5, "Mahuya")
t[0]

'pwskill'

In [4]:
t[0] = "Paridhi"

TypeError: 'tuple' object does not support item assignment

In [6]:
emp_id = (101, 201, 205, 241)
#use case >> where we don't want to change or modify data

In [10]:
# functions of tuples

tuple1 = ("pwskill", 1, 2, 1, 1, 2, 1)
print(tuple1.count(1))
print(tuple1.index(1)) # return 1st occurance of element

4
1

In [11]:
print(tuple1*2)

('pwskill', 1, 2, 1, 1, 2, 1, 'pwskill', 1, 2, 1, 1, 2, 1)

In [13]:
[ele*2 for ele in tuple1]

['pwskillpwskill', 2, 4, 2, 2, 4, 2]

In [15]:
tuple1[0:3]

('pwskill', 1, 2)

In [18]:
t1 = (1, 2, 3, 4, 5, 6.123)
print(max(t1))
print(min(t1))

6.123
1

In [28]:
t2 = (34, 23)
t4 = (t1, t2) #nested tuples
t4

((1, 2, 3, 4, 5, 6.123), (34, 23))

In [29]:
del t4

In [25]:
len(t1)

6

In [26]:
"pwskill" in t1

False

In [27]:
print(t1)
print(t2)

(1, 2, 3, 4, 5, 6.123)
(34, 23)

In [30]:
t3 = t1+t2
type(t3)

tuple

In [31]:
t3

(1, 2, 3, 4, 5, 6.123, 34, 23)

# SETS

In [1]:
# sets >> sets are unique and unordered data collection
# It doesn't allow duplicate elements
# Unordered means no indexing 

# syntax = {}

In [3]:
s = {}
type(s)

dict

In [4]:
s ={1}
type(s)

set

In [5]:
s = {1, 2, 1, 3, 4}
print(type(s))

<class 'set'>

In [7]:
s = {"Mritunjay", "Sujeet", "Mritunjay", "Mahuya", "Paridhi", "Paridhi"}
s

{'Mahuya', 'Mritunjay', 'Paridhi', 'Sujeet'}

In [10]:
# use case >> when we want nonrepating element
lst1 = ["Mritunjay", "Sujeet", "Mritunjay", "Mahuya", "Paridhi", "Paridhi"]
s = set(lst1)
s

{'Mahuya', 'Mritunjay', 'Paridhi', 'Sujeet'}

In [12]:
lst1 = list(s)
lst1

['Paridhi', 'Mritunjay', 'Mahuya', 'Sujeet']

### unhashable type >> Mutable (and it is not allowed in set)

In [19]:
s = {1, 2, 3, {4, 5, 6}}

TypeError: unhashable type: 'set'

In [15]:
s = {1,2,3,[4,5,6]}

TypeError: unhashable type: 'list'

In [27]:
# set inside set must be immutable then only we can define
s = {1,2,3,(234,456)}
s

{(234, 456), 1, 2, 3}

In [22]:
# not indexed so can't do slicing
for i in s:
    print(i)

(234, 456)
2
3
1

In [28]:
s.add(5)
s

{(234, 456), 1, 2, 3, 5}

In [30]:
#It is not confirmed that it will delete last element as set is unordered
#when set is empty it will throw key error
s.pop()
s

{(234, 456), 3, 5}

In [33]:
#Updates take iterable and put one by one inside itself
s.update("Aman")
s

{(234, 456), 3, 5, 'A', 'a', 'm', 'n'}

In [36]:
s.update(["Ajay"])
s

{(234, 456), 3, 5, 'A', 'Ajay', 'a', 'm', 'n'}

In [41]:
s = {(1, 2, 3), 4, 5.6, "Mritunjay"}
s

{(1, 2, 3), 4, 5.6, 'Mritunjay'}

In [42]:
# when element is not present it will throw key error
s.remove(5.6)
s.remove(7)

KeyError: 7

In [45]:
# so we use .discard function it will not throw error
s.discard(5.6)
s

{(1, 2, 3), 4, 'Mritunjay'}

### set operation

In [47]:
# 1. Union()
st1 = {(1, 2, 3), 4, 5.6, "Mritunjay"}
st2 = {1, 2, 3, (234, 456)}
st1.union(st2)

{(1, 2, 3), (234, 456), 1, 2, 3, 4, 5.6, 'Mritunjay'}

In [48]:
# 2. Intersection
st1 = {(1, 2, 3), 1, 2, 5.6, "Mritunjay"}
st2 = {1, 2, 3, (234, 456)}
st1.intersection(st2)

{1, 2}

In [49]:
# 3. Diffrence
st1 = {(1, 2, 3), 1, 2, 5.6, "Mritunjay"}
st2 = {1, 2, 3, (234, 456)}
st1.difference(st2)

{(1, 2, 3), 5.6, 'Mritunjay'}

In [54]:
# 4. Symmetric diffrence >> return all the elements which are not the common elements
st1 = {(1, 2, 3), 1, 2, 5.6, "Mritunjay"}
st2 = {1, 2, 3, (234, 456)}
st1.symmetric_difference(st2)

{(1, 2, 3), (234, 456), 3, 5.6, 'Mritunjay'}

In [57]:
# frozen sets >>Immutable version of set, cannot be added or remove any element
my_fs = frozenset([1,2,2,2,3,4,3,4,5])
my_fs

frozenset({1, 2, 3, 4, 5})