# LMABDA, MAP, REDUCE & FILTER

## **LAMBDA**

In [4]:
# Lambda Function 
# It is anonymous function 
# No need of retuen and def keyword
# syntax:
# lambda arguments : expression

# Normal function
def square(x):
    return x*x

In [5]:

# lambda function
square = lambda a : a*a

square(2)

4

In [7]:
sum = lambda a, b: a + b
sum(45,67)

112

In [9]:
is_even = lambda x : x%2==0
is_even(3)

False

In [13]:
x = ["Python","Mahadev", "Shiv", "Developer", "Mritunjay"]
sorted(x)

['Developer', 'Mahadev', 'Mritunjay', 'Python', 'Shiv']

In [14]:
# sort the list based on length
length = lambda x : len(x)

sorted(x, key=length)

['Shiv', 'Python', 'Mahadev', 'Developer', 'Mritunjay']

In [16]:
sorted(x, key=lambda x: len(x))

['Shiv', 'Python', 'Mahadev', 'Developer', 'Mritunjay']

In [19]:
# Fibonacci series
fib = lambda n: n if n <= 1 else fib(n - 1) + fib(n - 2)

In [21]:
[fib (i) for i in range(23)]

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711]

In [22]:
# factorial 
fact = lambda n : 1 if n<=1 else n*fact(n-1)

fact(5)

120

## **MAP**

In [23]:
# Map : executes a secified function for each of item of an iterable
# It will take a custom function as an input and an iterables and applly that custom functopm 
# to each element of iterable
# Syntax >> map(func, *iterables)

help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [31]:
lst = [1, 2, 3, 4, 5, 6, 7]
square = lambda x : x*x

square_list = list(map(square, lst))
square_list

[1, 4, 9, 16, 25, 36, 49]

In [33]:
list(map(lambda x : x+10, square_list))

[11, 14, 19, 26, 35, 46, 59]

In [34]:
l1 = [100, 200, 340, 230]
l2 = [120, 240, 300, 430]

list(map(lambda n1, n2: n1+n2, l1, l2))

[220, 440, 640, 660]

In [36]:
s = "mritunjay"
list(map(lambda x: x.upper(), s))

['M', 'R', 'I', 'T', 'U', 'N', 'J', 'A', 'Y']

## **REDUCE**

In [38]:
# reduce >> folding/reduction
# syntax
# reduce(func, iterable)

from functools import reduce

In [39]:
l = [1,2,3,4,5,6]
reduce(lambda a1, a2: a1+a2, l)

21

The reduce function passed to reduce() should take exactly two arguments
because it will be applied cumulatively to pairs of elements from the iterable.

In [40]:
def sum_3_nu(x,y,z):
    return x+y+z
reduce(sum_3_nu, l)

TypeError: sum_3_nu() missing 1 required positional argument: 'z'

In [43]:
words = ["Mritunjay", "is", "trying", "hard", "to", "get", "placed"]
reduce(lambda x, y: x + " " + y, words) + "."

'Mritunjay is trying hard to get placed.'

In [44]:
numbers = [1, 2, 3, 4, 5, 23, 43, 45, 65]

reduce(lambda x, y: x if x>y else y, numbers)

65

## **FILTER**

In [47]:
# filter function >> It is used to filter elements from an iterable
# based on some condition

# Syntax >>
# filter(function, iterable)

l = [1, 2, 3, 4, 5, 6]
list(filter(lambda x: x % 2 == 0, l))

[2, 4, 6]

In [49]:
l1 = [-1, 8, -9, 5, 6]
list(filter(lambda x: x < 0, l1))

[-1, -9]

In [52]:
st = ["Mritunjay", "Hello", "man", "home", "okay"]

list(filter(lambda x : x.capitalize() == x, st))

['Mritunjay', 'Hello']

In [55]:
sum=lambda x, y=5: x+y
sum(3)

8